/* CSS Document */

.table5 {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #ffffff;
	
	-moz-border-radius-bottomleft:25px;
	-webkit-border-bottom-left-radius:25px;
	border-bottom-left-radius:25px;
	
	-moz-border-radius-bottomright:25px;
	-webkit-border-bottom-right-radius:25px;
	border-bottom-right-radius:25px;
	
	-moz-border-radius-topright:25px;
	-webkit-border-top-right-radius:25px;
	border-top-right-radius:25px;
	
	-moz-border-radius-topleft:25px;
	-webkit-border-top-left-radius:25px;
	border-top-left-radius:25px;
}.table5 table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.table5 tr:last-child td:last-child {
	-moz-border-radius-bottomright:25px;
	-webkit-border-bottom-right-radius:25px;
	border-bottom-right-radius:25px;
}
.table5 table tr:first-child td:first-child {
	-moz-border-radius-topleft:25px;
	-webkit-border-top-left-radius:25px;
	border-top-left-radius:25px;
}
.table5 table tr:first-child td:last-child {
	-moz-border-radius-topright:25px;
	-webkit-border-top-right-radius:25px;
	border-top-right-radius:25px;
}.table5 tr:last-child td:first-child{
	-moz-border-radius-bottomleft:25px;
	-webkit-border-bottom-left-radius:25px;
	border-bottom-left-radius:25px;
}.table5 tr:hover td{
	background-color:#00ff7f;
		

}
.table5 td{
	vertical-align:middle;
		background:-o-linear-gradient(bottom, #ffffaa 5%, #00ff7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffaa), color-stop(1, #00ff7f) ); 
	background:-moz-linear-gradient( center top, #ffffaa 5%, #00ff7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffaa", endColorstr="#00ff7f");	background: -o-linear-gradient(top,#ffffaa,00ff7f);

	background-color:#ffffaa;

	border:1px solid #ffffff;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:15px;
	font-size:15px;
	font-family:Times New Roman;
	font-weight:bold;
	color:#00007f;
}.table5 tr:last-child td{
	border-width:0px 1px 0px 0px;
}.table5 tr td:last-child{
	border-width:0px 0px 1px 0px;
}.table5 tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.table5 tr:first-child td{
		background:-o-linear-gradient(bottom, #7f003f 5%, #ffff56 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7f003f), color-stop(1, #ffff56) );
	background:-moz-linear-gradient( center top, #7f003f 5%, #ffff56 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7f003f", endColorstr="#ffff56");	background: -o-linear-gradient(top,#7f003f,ffff56);

	background-color:#7f003f;
	border:0px solid #ffffff;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:18px;
	font-family:Times New Roman;
	font-weight:bold;
	color:#000000;
}
.table5 tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #7f003f 5%, #ffff56 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7f003f), color-stop(1, #ffff56) );
	background:-moz-linear-gradient( center top, #7f003f 5%, #ffff56 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7f003f", endColorstr="#ffff56");	background: -o-linear-gradient(top,#7f003f,ffff56);

	background-color:#7f003f;
}
.table5 tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.table5 tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}a\{\par
    border-collapse: collapse;\par
        border-spacing: 0;\par
\tab width:100%;\par
\tab height:100%;\par
\tab margin:0px;padding:0px;\par
\}.CSSTableGenerator tr:last-child td:last-child \{\par
\tab -moz-border-radius-bottomright:25px;\par
\tab -webkit-border-bottom-right-radius:25px;\par
\tab border-bottom-right-radius:25px;\par
\}\par
.CSSTableGenerator table tr:first-child td:first-child \{\par
\tab -moz-border-radius-topleft:25px;\par
\tab -webkit-border-top-left-radius:25px;\par
\tab border-top-left-radius:25px;\par
\}\par
.CSSTableGenerator table tr:first-child td:last-child \{\par
\tab -moz-border-radius-topright:25px;\par
\tab -webkit-border-top-right-radius:25px;\par
\tab border-top-right-radius:25px;\par
\}.CSSTableGenerator tr:last-child td:first-child\{\par
\tab -moz-border-radius-bottomleft:25px;\par
\tab -webkit-border-bottom-left-radius:25px;\par
\tab border-bottom-left-radius:25px;\par
\}.CSSTableGenerator tr:hover td\{\par
\tab background-color:#ffaad4;\par
\tab\tab\par
\par
\}\par
.CSSTableGenerator td\{\par
\tab vertical-align:middle;\par
\tab\tab background:-o-linear-gradient(bottom, #ffffaa 5%, #ffaad4 100%);\tab background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffaa), color-stop(1, #ffaad4) ); \par
\tab background:-moz-linear-gradient( center top, #ffffaa 5%, #ffaad4 100% );\par
\tab filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffaa", endColorstr="#ffaad4");\tab background: -o-linear-gradient(top,#ffffaa,ffaad4);\par
\par
\tab background-color:#ffffaa;\par
\par
\tab border:1px solid #ffffff;\par
\tab border-width:0px 1px 1px 0px;\par
\tab text-align:center;\par
\tab padding:16px;\par
\tab font-size:14px;\par
\tab font-family:Arial;\par
\tab font-weight:bold;\par
\tab color:#000000;\par
\}.CSSTableGenerator tr:last-child td\{\par
\tab border-width:0px 1px 0px 0px;\par
\}.CSSTableGenerator tr td:last-child\{\par
\tab border-width:0px 0px 1px 0px;\par
\}.CSSTableGenerator tr:last-child td:last-child\{\par
\tab border-width:0px 0px 0px 0px;\par
\}\par
.CSSTableGenerator tr:first-child td\{\par
\tab\tab background:-o-linear-gradient(bottom, #ff5656 5%, #0000ff 100%);\tab background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5656), color-stop(1, #0000ff) );\par
\tab background:-moz-linear-gradient( center top, #ff5656 5%, #0000ff 100% );\par
\tab filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5656", endColorstr="#0000ff");\tab background: -o-linear-gradient(top,#ff5656,0000ff);\par
\par
\tab background-color:#ff5656;\par
\tab border:0px solid #ffffff;\par
\tab text-align:center;\par
\tab border-width:0px 0px 1px 1px;\par
\tab font-size:17px;\par
\tab font-family:Arial;\par
\tab font-weight:bold;\par
\tab color:#ffffff;\par
\}\par
.CSSTableGenerator tr:first-child:hover td\{\par
\tab background:-o-linear-gradient(bottom, #ff5656 5%, #0000ff 100%);\tab background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5656), color-stop(1, #0000ff) );\par
\tab background:-moz-linear-gradient( center top, #ff5656 5%, #0000ff 100% );\par
\tab filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5656", endColorstr="#0000ff");\tab background: -o-linear-gradient(top,#ff5656,0000ff);\par
\par
\tab background-color:#ff5656;\par
\}\par
.CSSTableGenerator tr:first-child td:first-child\{\par
\tab border-width:0px 0px 1px 0px;\par
\}\par
.CSSTableGenerator tr:first-child td:last-child\{\par
\tab border-width:0px 0px 1px 1px;\par
\}\par
}
ius:25px;
	
	-moz-border-radius-topleft:25px;
	-webkit-border-top-left-radius:25px;
	border-top-left-radius:25px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-